@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AZCPSC</h1>
    <p class="lead"></p>
    <p><a href="@Url.Action("Create", "Prescriptions")" class="btn btn-primary btn-sm">Create Prescription &raquo;</a></p>
    <p><a href="@Url.Action("Index", "Medications")" class="btn btn-primary btn-sm">View medications &raquo;</a></p>
</div>

